body {
	background: Aquamarine;
	color: navy;
	font-size: 0.5cm;
}
h1{
	color: yellow;
}
#IFR{
	color: White;
	font-size: 20px;
}
#pumba{
	color: black;
}
.timon{
	color: blue;
	font-size: 24px;
}